[submodule "third_party/jsoncpp"]
	path = third_party/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp
[submodule "third_party/glad"]
	path = third_party/glad
	url = https://github.com/Dav1dde/glad
[submodule "third_party/glm"]
	path = third_party/glm
	url = https://github.com/g-truc/glm
