GLFW_ICON ICON icon.ico

1 VERSIONINFO
FILEVERSION     0,0,0,1
PRODUCTVERSION  0,0,0,1
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"	// English US
    BEGIN
      VALUE "CompanyName", "AX"
      VALUE "FileDescription", "Tektite"
      VALUE "FileVersion", "0.0.1a"
      VALUE "InternalName", "tektite desktop"
      VALUE "LegalCopyright", "(C) 2024 AX"
      VALUE "OriginalFilename", "tektite_desktop.exe"
      VALUE "ProductName", "tektite desktop"
      VALUE "ProductVersion", "0.0.1a"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252	// English US
  END
END
