1 VERSIONINFO
FILEVERSION     0,0,0,1
PRODUCTVERSION  0,0,0,1
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"	// English US
    BEGIN
      VALUE "CompanyName", "AX"
      VALUE "FileDescription", "Paper's desktop runtime."
      VALUE "FileVersion", "0.2"
      VALUE "InternalName", "paper_desktop"
      VALUE "LegalCopyright", "(C) 2024 AX"
      VALUE "OriginalFilename", "paper_desktop.exe"
      VALUE "ProductName", "Paper Desktop"
      VALUE "ProductVersion", "0.2"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252	// English US
  END
END
